## Problem with class

In [2]:
class Coordinate:
    def __init__(self, lat, lon):
        self.lat = lat
        self.lon = lon

In [ ]:
london = Coordinate(51.5074, 0.1278)
london  # not useful representation

In [6]:
location = Coordinate(51.5074, 0.1278)
location == london  # meaning less comparison

False

In [11]:
(location.lat, location.lon) == (
    london.lat,
    london.lon,
)  # explicit comparison in required

False

## Named Tuple

In [9]:
from collections import namedtuple

Coordinate = namedtuple("Coordinate", ["lat", "lon"])
paris = Coordinate(48.8566, 2.3522)
paris  # readable representation

Coordinate(lat=48.8566, lon=2.3522)

In [10]:
location = Coordinate(48.8566, 2.3522)
location == paris  # meaningful comparison

True

## Typing Named Tuple

In [13]:
from typing import NamedTuple

Coordinate = NamedTuple("Coordinate", [("lat", float), ("lon", float)])
delhi = Coordinate(lat=28.6139, lon=77.2090)
delhi

Coordinate(lat=28.6139, lon=77.209)

In [14]:
import typing

typing.get_type_hints(Coordinate)

{'lat': float, 'lon': float}

## Class Statement Syntax with Type

In [16]:
from typing import NamedTuple


class Coordinate(NamedTuple):
    lat: float
    lon: float

    def __str__(self) -> str:
        return f"Coordinate ( lat : {self.lat} , log : {self.lon})"

In [17]:
houston = Coordinate(lat=29.7604, lon=-95.3698)
houston

Coordinate(lat=29.7604, lon=-95.3698)

In [18]:
print(houston)

Coordinate ( lat : 29.7604 , log : -95.3698)

In [21]:
type(Coordinate)

type

In [23]:
issubclass(Coordinate, tuple)

True

In [25]:
import typing

issubclass(Coordinate, typing.NamedTuple)

TypeError: issubclass() arg 2 must be a class, a tuple of classes, or a union

## dataclass decorator

In [33]:
from dataclasses import dataclass


@dataclass
class Coordinate:
    lat: float
    lon: float

    def __str__(self) -> str:
        ns = "N" if self.lat >= 0 else "S"
        we = "E" if self.lon >= 0 else "W"
        return f"{abs(self.lat):.1f} {ns} , {abs(self.lon):.1f} {we}"

In [34]:
houston = Coordinate(lat=29.7604, lon=-95.3698)
houston

Coordinate(lat=29.7604, lon=-95.3698)

In [35]:
print(houston)

29.8 N , 95.4 W

In [36]:
location = Coordinate(lat=29.7604, lon=-95.3698)
location == houston

True