# Lists

## Accesing list elements

In [2]:
bicycle = ['trek', 'cannondale', 'redline', 'specialized']
bicycle

['trek', 'cannondale', 'redline', 'specialized']

In [3]:
# Accessing Elements in a List
bicycle[0]

'trek'

In [4]:
bicycle[0].title()

'Trek'

In [6]:
# Index Positions Start at 0, Not 1
bicycle[1]

'cannondale'

In [7]:
# last item in the list is -1
bicycle[-1]

'specialized'

In [9]:
bicycle[-4]

'trek'

In [10]:
bicycle[-5]

IndexError: list index out of range

In [11]:
bicycle[10]

IndexError: list index out of range

In [12]:
message = "My first bicycle was a " + bicycle[0].title() + "."
message

'My first bicycle was a Trek.'

In [13]:
message = f"My first bicycle was a {bicycle[0].title()}."
message

'My first bicycle was a Trek.'

## Modifying Elements in a List

In [15]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles

['honda', 'yamaha', 'suzuki']

In [16]:
motorcycles[0] = 'ducati'
motorcycles

['ducati', 'yamaha', 'suzuki']

## Adding Elements to a List

In [18]:
# Appending Elements to the End of a List
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
motorcycles

['honda', 'yamaha', 'suzuki', 'ducati']

In [19]:
# Inserting Elements into a List
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.insert(2,'ducati')
motorcycles

['honda', 'yamaha', 'ducati', 'suzuki']

In [23]:
# Removing an Item Using the del Statement
motorcycles = ['honda', 'yamaha', 'suzuki']
del motorcycles[1] # del does not return the value

In [24]:
motorcycles

['honda', 'suzuki']

In [25]:
# Removing an Item Using the pop() Method
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.pop()

'suzuki'

In [26]:
motorcycles

['honda', 'yamaha']

In [32]:
# Popping Items from any Position in a List
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.pop(0)

'honda'

In [33]:
motorcycles.pop(0)

'yamaha'

In [37]:
# removing an item by value
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.remove('yamaha') # remove does not return the value

In [38]:
motorcycles

['honda', 'suzuki']

Note: The remove() method deletes only the first occurrence of the value you specify. If there’s a possibility the value appears more than once in the list, you’ll need to use a loop to make sure all occurrences of the value are removed.

## Organizing a List

In [39]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars

['bmw', 'audi', 'toyota', 'subaru']

In [40]:
cars.sort() # sort() method changes the order of the list permanently. this is in-place sorting.

In [41]:
cars

['audi', 'bmw', 'subaru', 'toyota']

In [43]:
# Sorting a List Temporarily with the sorted() Function
cars = ['bmw', 'audi', 'toyota', 'subaru']
sorted(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [44]:
cars

['bmw', 'audi', 'toyota', 'subaru']

In [45]:
# printing a list in reverse order
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.reverse()

In [46]:
cars

['subaru', 'toyota', 'audi', 'bmw']

In [47]:
# printing in reserve order without changing the order of the list
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars[::-1]

['subaru', 'toyota', 'audi', 'bmw']

In [48]:
# Finding the Length of a List
cars = ['bmw', 'audi', 'toyota', 'subaru']
len(cars)

4

In [51]:
for ele in range(len(cars)):
    print(cars[ele])

bmw
audi
toyota
subaru