In [2]:
# Looping throght an entire list

In [3]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

note: chosse meaningful names for iterating over the list.

In [4]:
# Doing more work within a for loop
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

## Making Numerical Lists

In [6]:
# using range() function
for value in range(1, 5):
    print(value)

1
2
3
4

In [7]:
# Using range() to Make a List of Numbers
numbers = list(range(1,5))
numbers

[1, 2, 3, 4]

In [9]:
numbers = list(range(2,20,2))
numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
squares = []
for number in range(1,6):
    square = number ** 2
    squares.append(square)

squares

[1, 4, 9, 16, 25]

In [12]:
# Simple statistics with a list of numbers
digits = [1,2,3,4,5,6,7,8,9,0]
min(digits)

0

In [13]:
max(digits)

9

In [14]:
sum(digits)

45

## List Comprehensions

In [17]:
squares = [value**2 for value in range(15)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

## Working with Part of a List

In [21]:
# slicing a list
players = ['charles', 'martina', 'michael', 'florence', 'eli']
players[1:]

['martina', 'michael', 'florence', 'eli']

In [19]:
players[:3]

['charles', 'martina', 'michael']

In [22]:
players[-2:] # This prints the names of the last three players and will continue to work as the list of players changes in size.

['florence', 'eli']

In [23]:
players[::]

['charles', 'martina', 'michael', 'florence', 'eli']

In [27]:
players[::2] # This will make slice jump to second item from the current item

['charles', 'michael', 'eli']

In [28]:
# Looping through a slice
players = ['charles', 'martina', 'michael', 'florence', 'eli']

for player in players[::2]:
    print(player)

charles
michael
eli

In [29]:
# Copying a List
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
friend_foods

['pizza', 'falafel', 'carrot cake']

In [30]:
friend_foods.append('cannoli')
print(friend_foods)
print(my_foods)

['pizza', 'falafel', 'carrot cake', 'cannoli']
['pizza', 'falafel', 'carrot cake']

# Tuples

Immutable list is called a tuple.

In [32]:
dimensions = (200, 50)
dimensions

(200, 50)

In [33]:
print(dimensions[0])
print(dimensions[1])

200
50

In [34]:
dimensions[0] = 250

TypeError: 'tuple' object does not support item assignment

In [35]:
dimensions = 200 , 50
dimensions

(200, 50)

In [36]:
dimensions = 20,
dimensions

(20,)

In [37]:
dimensions = (20) # This is not a tuple
dimensions

20

In [38]:
dimensions = (20,) # This is a tuple. use a comma to define a tuple with one element.
dimensions

(20,)

In [40]:
dimensions = 200 , 50

for dimension in dimensions:
    print(dimension)

200
50

In [41]:
dimensions = (200, 50)
print(dimensions)
dimensions = (400, 100) 
print(dimensions)   # this is reassigning a value to a tuple

(200, 50)
(400, 100)

# Styling Your Code

The Style Guide
Python Enhancement Proposal (PEP).