### Function as a first class object

- Created at runtime

- Assigned to a variable or element in a data structure

- Passed as an argument to a function

- Returned as the result of a function

In [6]:
def factorial(n):
    """Calculate factorial of a number

    Args:
        n (int): Number to calculate factorial

    Returns:
        int: Factorial of n
    """
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [2]:
factorial(2)

2

In [3]:
factorial(12)

479001600

In [7]:
factorial.__doc__

'Calculate factorial of a number\n\n    Args:\n        n (int): Number to calculate factorial\n\n    Returns:\n        int: Factorial of n\n    '

In [8]:
type(factorial)

function

In [9]:
help(factorial)

Help on function factorial in module __main__:

factorial(n)
    Calculate factorial of a number

    Args:
        n (int): Number to calculate factorial

    Returns:
        int: Factorial of n

In [11]:
fact = factorial
fact(5)

120

In [12]:
fact

In [13]:
list(map(fact, range(10)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

### Higher-order function
- A function that takes a function as an argument or returns a function as a result
- Ex) map, filter, reduce

In [14]:
fruits = ["apple", "banana", "cherry"]
list(map(len, fruits))

[5, 6, 6]

In [17]:
def reverse(word):
    """Reverse a word

    Args:
        word (str): Word to reverse

    Returns:
        str: Reversed word
    """
    return word[::-1]

In [19]:
reverse("hello")

'olleh'

In [20]:
fruits = ["apple", "banana", "cherry", "strawberry", "blueberry", "fig"]
list(sorted(fruits, key=len))

['fig', 'apple', 'banana', 'cherry', 'blueberry', 'strawberry']

In [21]:
list(sorted(fruits, key=reverse))

['banana', 'apple', 'fig', 'blueberry', 'strawberry', 'cherry']

### Modern Replacements for map, filter, and reduce
- List comprehensions and generator expressions
- All three functions return a new list, but a list comprehension is often clearer and more concise
- Generator expressions are more memory efficient

In [22]:
list(map(factorial, range(10)))

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [23]:
[factorial(n) for n in range(10)]

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [24]:
from functools import reduce
from operator import add

reduce(add, range(100))

4950

In [25]:
sum(range(100))

4950

In Python, reducers are built-in functions that process an iterable and return a single cumulative value. Some of the most commonly used reducers include sum(), all(), any(), max(), and min(). These functions are very useful for performing aggregate operations on lists, tuples, and other iterables.

In [26]:
numbers = [1, 2, 3, 4, 5]
result = sum(numbers)
print(result)  # Output: 15

15

In [27]:
conditions = [True, True, False]
result = all(conditions)
print(result)  # Output: False

False

In [28]:
conditions = [False, False, True]
result = any(conditions)
print(result)  # Output: True

True

### Anonymous Functions

In [29]:
fruits = ["apple", "banana", "cherry", "strawberry", "blueberry", "fig"]

sorted(fruits, key=lambda fruit_name: fruit_name[::-1])

['banana', 'apple', 'fig', 'blueberry', 'strawberry', 'cherry']

### Callable objects
- User-defined functions
- Built-in functions
- Built-in methods
- Methods
- Classes
- Class instances
- Generator functions
- Native coroutines
- Asynchronous generator functions

In [31]:
[callable(obj) for obj in [abs, str, 13, "Nil"]]

[True, True, False, False]

In [35]:
# User Defined Callable Classes
class Incrementer:
    def __init__(self, data):
        self.data = data

    def __call__(self):
        self.data += 1
        return self.data

In [38]:
incrementer = Incrementer(2)
incrementer.data

2

In [39]:
incrementer()

3

In [40]:
incrementer.data

3

In [41]:
callable(incrementer)

True

In [46]:
import random


class BingoCage:
    def __init__(self, items) -> None:
        self._items = list(
            items
        )  # Copy the items to avoid effects of changes in the original list
        random.shuffle(self._items)

    def pick(self):
        try:
            return self._items.pop()
        except IndexError:
            raise LookupError("pick from empty BingoCage")

    def __call__(self):
        print("Calling the object...")
        return self.pick()

In [47]:
bindo = BingoCage([1, 2, 3, 4, 5])

In [48]:
bindo.pick()

5

In [49]:
bindo()

Calling the object...

3

In [50]:
# From Positional to Keyword-Only Parameters

In [100]:
def tag(name, *content, _class=None, **attrs):
    """
    Generate one or more HTML tags.

    Args:
        name (str): The HTML tag name.
        *content: Zero or more strings representing the inner content of the tag.
        _class (str, optional): A special keyword argument for setting the "class" attribute.
        **attrs: Additional HTML attributes as keyword arguments.

    Returns:
        str: The generated HTML tag(s) as a string.

    Examples:
        >>> print(tag("p", "Hello, world!", _class="intro"))
        <p class="intro">Hello, world!</p>

        >>> print(tag("img", src="logo.png", alt="Logo"))
        <img src="logo.png" alt="Logo"/>
    """
    if _class is not None:
        attrs["class"] = _class
    # Build attribute string; prepend a space if there are attributes.
    if attrs:
        attrs_str = " " + " ".join(f'{key}="{value}"' for key, value in attrs.items())
    else:
        attrs_str = ""

    if content:
        # Generate a full tag for each piece of content
        elements = [f"<{name}{attrs_str}>{c}</{name}>" for c in content]
        return "\n".join(elements)
    else:
        # Generate a self-closing tag when there is no content.
        return f"<{name}{attrs_str}/>"

In [101]:
tag("br")

'<br/>'

In [102]:
tag("p", "hello")

'<p>hello</p>'

In [103]:
tag("p", "hello", "world")

'<p>hello</p>\n<p>world</p>'

In [104]:
tag("p", "hello", id=33)

'<p id="33">hello</p>'

In [105]:
print(tag("p", "hello", "world", class_="sidebar"))

<p class_="sidebar">hello</p>
<p class_="sidebar">world</p>

In [106]:
print(tag("p", "hello", "world", class_="sidebar", id=33))

<p class_="sidebar" id="33">hello</p>
<p class_="sidebar" id="33">world</p>

In [107]:
my_tag = {
    "name": "img",
    "title": "Sunset Boulevard",
    "src": "sunset.jpg",
    "_class": "framed",
}
tag(**my_tag)

'<img title="Sunset Boulevard" src="sunset.jpg" class="framed"/>'

#### Positional Only Arguments

In [108]:
def divmod(a, b, /):
    return (a // b, a % b)

In [109]:
divmod(20, 8)

(2, 4)

In [110]:
divmod(b=20, a=8)

TypeError: divmod() got some positional-only arguments passed as keyword arguments: 'a, b'

In [112]:
def divmod2(
    a,
    b,
):
    return (a // b, a % b)

In [115]:
divmod2(a=20, b=8)

(2, 4)

In [114]:
divmod2(b=20, a=8)

(0, 8)

### Packages for Functional Programming

In [2]:
from functools import reduce


def factorial(n):
    return reduce(lambda a, b: a * b, range(1, n + 1))

In [3]:
factorial(5)

120

In [4]:
from functools import reduce
from operator import mul


def factorial_with_mul(n):
    return reduce(mul, range(1, n + 1))

In [5]:
factorial_with_mul(5)

120

In [6]:
from operator import itemgetter

fruits = ["apple", "banana", "cherry", "strawberry", "blueberry", "fig"]
sorted(fruits, key=itemgetter(1))

['banana', 'cherry', 'fig', 'blueberry', 'apple', 'strawberry']

In [7]:
metro_data = [
    ("Tokyo", "JP", 36.933, (35.689722, 139.691667)),
    ("Delhi NCR", "IN", 21.935, (28.613889, 77.208889)),
    ("Mexico City", "MX", 20.142, (19.433333, -99.133333)),
    ("New York-Newark", "US", 20.104, (40.808611, -74.020386)),
    ("São Paulo", "BR", 19.649, (-23.547778, -46.635833)),
]

# Sort the list by the country code (second element of each tuple)
sorted_data = sorted(metro_data, key=lambda item: item[1])

# Print the sorted entries
for city, country, population, coordinates in sorted_data:
    print(
        f"City: {city}, Country: {country}, Population: {population}, Coordinates: {coordinates}"
    )

City: São Paulo, Country: BR, Population: 19.649, Coordinates: (-23.547778, -46.635833)
City: Delhi NCR, Country: IN, Population: 21.935, Coordinates: (28.613889, 77.208889)
City: Tokyo, Country: JP, Population: 36.933, Coordinates: (35.689722, 139.691667)
City: Mexico City, Country: MX, Population: 20.142, Coordinates: (19.433333, -99.133333)
City: New York-Newark, Country: US, Population: 20.104, Coordinates: (40.808611, -74.020386)

In [9]:
from operator import itemgetter

metro_data = [
    ("Tokyo", "JP", 36.933, (35.689722, 139.691667)),
    ("Delhi NCR", "IN", 21.935, (28.613889, 77.208889)),
    ("Mexico City", "MX", 20.142, (19.433333, -99.133333)),
    ("New York-Newark", "US", 20.104, (40.808611, -74.020386)),
    ("São Paulo", "BR", 19.649, (-23.547778, -46.635833)),
]

# Sort the list by the country code (second element of each tuple)
sorted_data = sorted(metro_data, key=itemgetter(1))

# Print the sorted entries
for city, country, population, coordinates in sorted_data:
    print(
        f"City: {city}, Country: {country}, Population: {population}, Coordinates: {coordinates}"
    )

City: São Paulo, Country: BR, Population: 19.649, Coordinates: (-23.547778, -46.635833)
City: Delhi NCR, Country: IN, Population: 21.935, Coordinates: (28.613889, 77.208889)
City: Tokyo, Country: JP, Population: 36.933, Coordinates: (35.689722, 139.691667)
City: Mexico City, Country: MX, Population: 20.142, Coordinates: (19.433333, -99.133333)
City: New York-Newark, Country: US, Population: 20.104, Coordinates: (40.808611, -74.020386)

In [16]:
#### Using attrgetter
from collections import namedtuple

LatLong = namedtuple("LatLon", "lat long")
Metropolis = namedtuple("Metropolis", "name cc pop coord")
metro_data = [
    ("Tokyo", "JP", 36.933, (35.689722, 139.691667)),
    ("Delhi NCR", "IN", 21.935, (28.613889, 77.208889)),
    ("Mexico City", "MX", 20.142, (19.433333, -99.133333)),
    ("New York-Newark", "US", 20.104, (40.808611, -74.020386)),
    ("São Paulo", "BR", 19.649, (-23.547778, -46.635833)),
]

metro_areas = [
    Metropolis(name, cc, pop, LatLong(lat, long))
    for name, cc, pop, (lat, long) in metro_data
]

In [17]:
metro_areas

[Metropolis(name='Tokyo', cc='JP', pop=36.933, coord=LatLon(lat=35.689722, long=139.691667)),
 Metropolis(name='Delhi NCR', cc='IN', pop=21.935, coord=LatLon(lat=28.613889, long=77.208889)),
 Metropolis(name='Mexico City', cc='MX', pop=20.142, coord=LatLon(lat=19.433333, long=-99.133333)),
 Metropolis(name='New York-Newark', cc='US', pop=20.104, coord=LatLon(lat=40.808611, long=-74.020386)),
 Metropolis(name='São Paulo', cc='BR', pop=19.649, coord=LatLon(lat=-23.547778, long=-46.635833))]

In [18]:
### methodcaller
from operator import methodcaller

s = "The time has come"
lowcase = methodcaller("lower")
lowcase(s)

'the time has come'

In [21]:
hypename = methodcaller("replace", " ", "-")
hypename(s)

'The-time-has-come'

In [22]:
### Freezing Arguments with functools.partial
from operator import mul
from functools import partial

double = partial(mul, 2)
double(7)

14

In [25]:
list(map(double, range(5)))

[0, 2, 4, 6, 8]

In [ ]:
### function tags

# To be continued...