In [ ]:
dial_codes = [
    (80, "Bangladesk"),
    (1246, "Barbados"),
    (375, "Belarus"),
    (32, "Belgium"),
    (501, "Belize"),
]

In [ ]:
country_dial = {country: code for code, country in dial_codes}
country_dial

{'Bangladesk': 80,
 'Barbados': 1246,
 'Belarus': 375,
 'Belgium': 32,
 'Belize': 501}

In [7]:
dict(dial_codes)

{80: 'Bangladesk',
 1246: 'Barbados',
 375: 'Belarus',
 32: 'Belgium',
 501: 'Belize'}

In [ ]:
{code: country for code, country in country_dial.items()}

{'Bangladesk': 80,
 'Barbados': 1246,
 'Belarus': 375,
 'Belgium': 32,
 'Belize': 501}

In [2]:
### Unpacking Mappings
def dump(**kwargs):
    return kwargs

In [5]:
data = {"x": 1, "y": 2}
dump(**data)

{'x': 1, 'y': 2}

In [2]:
# THE ABOVE IS SAME AS BELOW
dump(x=1, y=2)

{'x': 1, 'y': 2}

In [3]:
{**{"x": 1}, **{"y": 2}}

{'x': 1, 'y': 2}

In [10]:
## Merging Dictionaries

In [11]:
d1 = {"x": 1, "y": 2}
d2 = {"y": 3, "z": 4}
{**d1, **d2}

{'x': 1, 'y': 3, 'z': 4}

In [12]:
d1 | d2

{'x': 1, 'y': 3, 'z': 4}

In [13]:
d1

{'x': 1, 'y': 2}

In [14]:
d1 |= d2
d1

{'x': 1, 'y': 3, 'z': 4}

In [43]:
## Pattern matching
def get_creator(record: dict) -> str | list[str]:
    match record:
        case {"type": "book", "api": 2, "authors": [*names]}:
            return names
        case {"type": "book", "api": 1, "author": name}:
            return name
        case {"type": "book"}:
            raise ValueError(f"Invalid book record: {record!r}")
        case _:
            raise ValueError(f"Invalid record {record!r}")

In [ ]:
get_creator(
    {
        "type": "book",
        "api": 2,
        "authors": ["James", "Clear"],
    }
)

['James', 'Clear']

'James'

In [47]:
get_creator(
    {
        "api": 1,
        "author": "James",
        "type": "book",
    }
)

'James'

In [ ]:
get_creator(
    {
        "type": "book",
        "pages": 100,
    }
)

ValueError: Invalid book record: {'type': 'book', 'pages': 100}

In [45]:
get_creator("spam")

ValueError: Invalid record 'spam'

In [46]:
get_creator({"type": "abc"})

ValueError: Invalid record {'type': 'abc'}

In [60]:
# catch extra key-value pairs as a dictionary
def get_fruit_info(fruit: dict):
    match fruit:
        case {"category": "fruit", "name": name, **other_info}:
            print(name, other_info)
        case {"category": "fruit", **other_info}:
            print(f"No name provided. the other info is {other_info!r}")
        case _:
            print("Not a fruit")

In [52]:
apple = {"category": "fruit", "name": "apple", "color": "red", "taste": "sweet"}
get_fruit_info(apple)

apple {'color': 'red', 'taste': 'sweet'}

In [62]:
banana = {"category": "fruit", "color": "yellow", "taste": "sweet"}
get_fruit_info(banana)

No name provided. the other info is {'color': 'yellow', 'taste': 'sweet'}

## Standard API of Mapping Types

In [66]:
my_dict = {}
isinstance(my_dict, dict)

True

In [64]:
from collections.abc import Mapping, MutableMapping

isinstance(my_dict, MutableMapping)

True

In [65]:
issubclass(dict, Mapping)

True

In [67]:
# What is hashable?

hash("hello")

-6747570560439939262

In [69]:
hasattr("hello", "__hash__")

True

In [71]:
hasattr("hello", "__eq__")

True

In [72]:
tt = (1, 2, (30, 40))
hash(tt)

-3907003130834322577

In [73]:
tl = (1, 2, [30, 40])
hash(tl)

TypeError: unhashable type: 'list'

In [75]:
tf = (1, 2, frozenset([30, 40]))
hash(tf)

5149391500123939311

In [76]:
ts = (1, 2, {30, 40})
hash(ts)

TypeError: unhashable type: 'set'

In [ ]:
## Duck Typing

d = {"a": 1, "b": 2}
d.update({"c": 3})  # parameter is a dictionary
d

{'a': 1, 'b': 2, 'c': 3}

In [80]:
e = {"a": 1, "b": 2}
e.update(c=3)  # parameter is keyword arguments
e

{'a': 1, 'b': 2, 'c': 3}

In [82]:
f = {"a": 1, "b": 2}
f.update([("c", 3), ("d", 4)])  # parameter is a list of tuples